.auth-container {
  width: 500px;
  margin: 6rem auto;
  padding: 35px;
  border-radius: 12px;
  font-size: 20px;
  background: linear-gradient(135deg, #1e2a38, #2c3e50);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
  color: #fff;
  animation: fadeIn 0.6s ease-in-out;
}
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    border: none;
    }
    
    
    
    /* LOGIN AND REGISTER STYLING */
    /* .auth-container {
    width: 500px;
    margin: 8rem auto;
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 20px;
    } */
     
    .auth-container h2 {
    text-align: center;
    margin-bottom: 20px;
    }
     
    .auth-container form {
    display: flex;
    flex-direction: column;
    }
     
    .auth-container input {
    margin-bottom: 10px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    button[type="submit"] {
    width: 100%;
    padding: 12px;
    background-color: #17a2b8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto;
    }
     
    button[type="submit"]:hover {
    background-color: #2F4F4F;
    }
     
    .auth-container button:hover {
    background-color: #2F4F4F;
    }
     
    .error-message {
    color: red;
    text-align: center;
    margin-bottom: 10px;
    }
     
    .auth-container p {
    text-align: center;
    font-weight: 500;
    }
     
    .auth-container a {
    color: #17a2b8;
    text-decoration: none;
    font-weight: 700;
    }
     
    .auth-container a:hover {
    text-decoration: underline;
    }
    